@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap");

@import "tailwindcss";

/* @theme {
  --color-gradient: "linear-gradient(#4df8df, #4df0f8)";
} */

@theme {
  --animation-flash: flash 1s infinite; /* Define your custom animation variable */

  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(#186a5e, #053339); */
  color: #e1eeeb;
  min-height: 100vh;
}
