@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap");

@import "tailwindcss";

/* @theme {
  --color-gradient: "linear-gradient(#4df8df, #4df0f8)";
} */

@theme {
  --animation-flash: flash 1s infinite;
  --font-handjet: "Handjet", monospace;

  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #1d110be4;
  color: #e1eeeb;
  min-height: 100vh;
}

#content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #0c0a09;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
